@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin:0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

.menu {
  display:flex;
  height: 8vh;
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100%; 
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffdbd7;

  & a{
    color: #E4EBF0;
    font-size: 0.9em;
    padding: 0.7rem;
    text-decoration: none;
    background-color: #ce7095;
    border: none;
    border-radius: 20rem;
    margin: 20px;
    display: inline-block;
  }

  & a:hover{
    color: #a84981;
  }
}

main {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 50px;
  height: 82vh;
}

.rodape{
  display:flex;
  background-color: #ffdbd7;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}



